{% extends "partials/layout.html" %}

{% block title %}
    Профиль пользователя
{% endblock %}

{% set nav_bar = true %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/profile/profile.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/profile/profile.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='main/common/payproglobal.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/common/stopwatch_countdown.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/profile/profile.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='main/common/payproglobal.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/common/stopwatch_countdown.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/profile/profile.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}
    <meta id="get_pincode_url" data-method="GET" data-url="{{ url_for('profile.generate_pincode') }}">
    <meta id="renew_sub_url" data-method="POST" data-url="{{ url_for('profile.renew_sub') }}">
    <meta id="get_order_payment_url" data-method="GET"
          data-url="{{ url_for('order.get_order_payment', order_code=-1) }}">
    <meta id="delete_user_device_url" data-method="POST" data-url="{{ url_for('profile.delete_user_device') }}">
    <meta id="change_status_user_device" data-method="POST"
          data-url="{{ url_for('profile.change_status_user_device') }}">

    <meta id="change_status_user_device_block_text" data-text="{{ _('Working...') }}">
{% endblock %}

{% block body %}
    <section class="pt-6 pb-6" style="background-color: #f8f8f8;">
        <div class="menu-header nav justify-content-centers" style="background-color: #fff; padding-top: 50px;">
            <ul id="profile-menu" class="nav nav-tabs">
                <li class="nav-item menu-entry">
                    <a id="dashboard-tab" class="nav-link active" href="#dashboard"
                       data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
                        <i class="fas fa-tachometer-alt"></i> {{ _('Dashboard') }}
                    </a>
                </li>
                <li class="nav-item menu-entry">
                    <a id="account-tab" class="nav-link" href="#account"
                       data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
                        <i class="fas fa-user-alt"></i> {{ _('Account') }}
                    </a>
                </li>
                <li class="nav-item menu-entry">
                    <a id="downloads-tab" class="nav-link" href="#downloads"
                       data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
                        <i class="fas fa-download"></i> {{ _('Downloads') }}
                    </a>
                </li>
                <li class="nav-item menu-entry">
                    <a id="servers-tab" class="nav-link" href="#servers"
                       data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
                        <i class="fas fa-server"></i> {{ _('VPN Servers') }}
                    </a>
                </li>
                <li class="nav-item">
                    <button id="generate-pin-btn" class="btn btn-link text-danger text-uppercase"
                            style="font-weight: bold;">
                        <i class="fas fa-barcode"></i> {{ _('Generate PIN-code') }}
                    </button>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="home-tab">
                <div class="container">
                    <h4 style="padding-top: 70px; text-transform: none;">{{ _('Your Services') }}</h4>
                    <div class="user-services well container">
                        {% for us in user_subscriptions %}
                            {% set sub = us['subscription'] %}
                            {% set order = us['order'] %}
                            <h4 class="d-inline">
                                {{ sub['name'] }}
                            </h4>
                            <span class="sub-badges">
                                {% if us['is_expired'] == false and us['order']['payment_uuid'] %}
                                    <input class="is_user_has_active_subscribe" type="hidden" value="true">
                                {% endif %}
                                {% if order['status_id'] == 1 %}
                                    <span class="badge badge-light">{{ _('New') }}</span>
                                {% elif order['status_id'] == 2 %}
                                    <span class="badge badge-warning">{{ _('Processing') }}</span>
                                {% elif order['status_id'] == 3 %}
                                    <span class="badge badge-success">{{ _('Active') }}</span>
                                {% elif order['status_id'] == 4 %}
                                    <span class="badge badge-danger">{{ _('Failed') }}</span>
                                {% endif %}
                                {% if us['is_expired'] == true %}
                                    <span class="badge badge-danger">{{ _('Expired') }}</span>
                                {% endif %}
                                {% if not us['order']['payment_uuid'] %}
                                    <span class="badge badge-warning">
                                        {{ _('Waiting for payment') }}
                                    </span>
                                {% endif %}
                                <span class="badge badge-dark">
                                    {{ _('Order') }} #{{ order['code'] }}
                                </span>
                                <span class="badge badge-info">
                                    {{ sub['bill_freq'] }}
                                </span>
                            </span>
                            <!-- 0 price for free sub -->
                            {% if sub['price_per_month'] != 0 %}
                                <span class="d-inline float-right">
                                    {% if us['is_expired'] == true %}
                                        <small class="text-muted">{{ _('Payment is past due') }}:</small>
                                    {% else %}
                                        <small class="text-muted">{{ _('Next payment') }}:</small>
                                    {% endif %}
                                    {% if not us['order']['payment_uuid'] %}
                                        <small class="payment-wait" data-order_code="{{ us['order']['code'] }}">
                                            {{ _('Waiting for payment') }}
                                        </small>
                                    {% else %}
                                        <small>{{ moment(us['expire_date'] | strftime).fromNow() }}</small>
                                    {% endif %}
                                </span>
                            {% endif %}
                            <div class="row">
                                <div class="col-12">
                                    {% if us['is_expired'] == true %}
                                        {{ _('This subscription has been expired you can') }}
                                        <a href="{{ url_for('order.order') }}">
                                            {{ _('buy new one') }}
                                        </a>
                                        {{ _('or') }}
                                        <a class="renew-sub-btn" href="#"
                                           data-sub_id="{{ sub['id'] }}"
                                           data-order_code="{{ order['code'] }}">
                                            {{ _('renew subscription') }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                        {% endfor %}
                    </div>
                    <h4 style="padding-top: 70px; text-transform: none;">{{ _('Your Devices') }}</h4>
                    <div class="user-devices well container" style="padding-bottom: 50px;">
                        <span class="loading-data" style="display: none;">
                            {{ _('Loading...') }}
                        </span>
                        {% if user_devices %}
                            <div class="row">
                                {% for user_device in user_devices %}
                                    <div class="col-lg-4">
                                        <div class="card text-center user-device" data-uuid="{{ user_device['uuid'] }}">
                                            <div class="card-body">
                                                <h5 class="card-title d-inline">
                                                    {{ _('Your Device') }}
                                                </h5>
                                                {% if user_device['is_active'] %}
                                                    <span class="badge badge-success"
                                                          data-active_text="{{ _('Active') }}"
                                                          data-inactive_text="{{ _('Inactive') }}">
                                                        {{ _('Active') }}
                                                    </span>
                                                {% else %}
                                                    <span class="badge badge-warning"
                                                          data-active_text="{{ _('Active') }}"
                                                          data-inactive_text="{{ _('Inactive') }}">
                                                        {{ _('Inactive') }}
                                                    </span>
                                                {% endif %}
                                                <ul class="list-unstyled">
                                                    <li class="text-muted">
                                                        {{ _('Operation System') }}:
                                                        {{ user_device['device_os'] if user_device['device_os'] else 'N/A' }}
                                                    </li>
                                                    <li class="text-muted">
                                                        {{ _('Location') }}:
                                                        {{ user_device['location'] if user_device['location'] else 'N/A' }}
                                                    </li>
                                                    <li class="text-muted">
                                                        {{ _('Download') }}: <span class="download-traffic">N/A</span>
                                                    </li>
                                                    <li class="text-muted">
                                                        {{ _('Upload') }}: <span class="upload-traffic">N/A</span>
                                                    </li>
                                                </ul>
                                                <button class="btn btn-link card-link change-status-device-btn"
                                                        data-is_active="{{ user_device['is_active'] }}"
                                                        data-uuid="{{ user_device['uuid'] }}"
                                                        data-activate_text="{{ _('Activate') }}"
                                                        data-deactivate_text="{{ _('Deactivate') }}">
                                                    {% if user_device['is_active'] == true %}
                                                        {{ _('Deactivate') }}
                                                    {% else %}
                                                        {{ _('Activate') }}
                                                    {% endif %}
                                                </button>
                                                <button class="btn btn-link card-link delete-device-btn"
                                                        style="color: red;">
                                                    {{ _('Delete') }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container">
                    {{ _('account') }}
                </div>
            </div>
            <div class="tab-pane fade" id="downloads" role="tabpanel" aria-labelledby="contact-tab">
                <div class="container">
                    {{ _('downloads') }}
                </div>
            </div>
            <div class="tab-pane fade" id="servers" role="tabpanel" aria-labelledby="contact-tab">
                <div class="container">
                    {{ _('servers') }}
                </div>
            </div>
        </div>
    </section>

    <div id="pincode-modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ _('Enter this PIN code in Railroad VPN client') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center text-center">
                        <h1 id="pincode-t" style="font-size: 100px; letter-spacing: 50px;">----</h1>
                    </div>
                </div>
                <div class="modal-footer">
                    <span style="padding-right: 5px;">{{ _('This PIN code will regenerate in:') }}</span>
                    <span id="cd_h">00</span>:<span id="cd_m">00</span>:<span id="cd_s">00</span>:<span
                        id="cd_ms">00</span>
                    <input type="hidden" value="1800" id="cd_seconds"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}