{% extends "partials/layout.html" %}

{% block title %}
    {{ _('RRoadVPN - Signin') }}
{% endblock %}

{% set nav_bar = true %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/auth/signin.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/auth/signin.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}
    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='main/auth/signin.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='main/auth/signin.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}

{% endblock %}

{% block body %}
    <section style="padding-top: 150px;">
        <div class="container">
            <div class="card card-container">
                <p class="login-header">{{ _('Log in') }}</p>
                <form id="login-form" class="form-signin" action="{{ url_for('auth.signin') }}" method="POST">
                    <input type="email" id="email_input" name="email" class="form-control"
                           placeholder="{{ _('Email address') }}" required autofocus>
                    <input type="password" id="password_input" name="password" class="form-control"
                           placeholder="{{ _('Password') }}" required>
                    <button class="btn btn-lg btn-block btn-signin" type="submit">{{ _('Log In') }}</button>
                </form>
                <a href="#" class="forgot-password">
                    {{ _('Forgot the password?') }}
                </a>
                <div class="no-account">
                    <span>{{ _('Don’t have an account yet?') }} <a href="{{ url_for('order.order_page') }}">{{ _('Sign up') }}</a></span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}