body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
}

@media (max-width: 812px) {
    body {
        padding-top: 4rem;
    }
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 35px;
    letter-spacing: 1px;
}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 25px;
}

@media (min-width: 768px) {
    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 0 0 35px;
    }
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #f8cc46;
}

a:focus, a:hover {
    text-decoration: none;
    color: rgba(248, 204, 70, 0.85);
}

.bg-gray {
    background-color: #f8f8f8 !important
}

.form-group .error {
    color: red;
}

.pt-75 {
    padding-top: 7.5rem !important
}

.pb-75 {
    padding-bottom: 7.5rem !important
}

.pt-7 {
    padding-top: 7rem !important
}

.pb-7 {
    padding-bottom: 7rem !important
}

.pt-6 {
    padding-top: 6.5rem !important
}

.pb-6 {
    padding-bottom: 6.5rem !important
}

.pb-5-5 {
    padding-bottom: 5.625rem !important
}

.pt-4 {
    padding-top: 4rem !important
}

.pb-4 {
    padding-bottom: 4rem !important
}

.pt-2 {
    padding-top: 2rem !important
}

.pb-2 {
    padding-bottom: 2rem !important
}

.mb-5 {
    margin-bottom: 4rem !important
}

#main-navbar {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: black;
    padding-top: 20px;
}

#main-navbar .container {
    margin-right: 0px;
}

#main-navbar .navbar-toggler {
    font-size: 5px;
    padding: 11px;
    color: white;
    border: 1px solid white;
}

#main-navbar a {
    color: white;
}

@media (max-width: 575px) {
    #main-navbar a {
        font-size: small
    }
}

#main-navbar .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#main-navbar .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
}

#main-navbar .navbar-nav .nav-item:active, #main-navbar .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (max-width: 992px) {
    #main-navbar .navbar-brand {
        font-size: inherit;
    }
}

@media (max-width: 310px) {
    #main-navbar .navbar-brand {
        font-size: smaller;
    }
}

@media (min-width: 992px) {
    #main-navbar .navbar-brand {
        padding-left: 25px;
        font-weight: 700;
    }

    #main-navbar {
        padding-top: 30px;
        padding-bottom: 20px;
        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;
        border-bottom: none;
    }

    #main-navbar.navbar-shrink {
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background: black;
    }

    #main-navbar .nav-link.active {
        outline: none;
        background-color: rgba(255, 255, 255, 0.3);
    }

    #main-navbar .nav-link.active:hover {
        color: white;
    }
}

#network-status {
    position: absolute;
    height: 25px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #262E26;
    z-index: 99999;
}

#network-status ul {
    margin-top: -10px;
}

#network-status .network-info li {
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding: 0.625rem 0;
}

#network-status .close-btn {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#network-status .status-protected {
    color: #27be56;
    font-family: Gordita, sans-serif;
    font-size: 12px;
    font-weight: 500;
}

#network-status .status-unprotected {
    color: #f64f64;
    font-family: Gordita, sans-serif;
    font-size: 12px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .network-status {
        display: none !important;
    }

    #main-navbar {
        padding-top: 0;
    }
}

.btn-group img {
    margin-right: 10px
}

#lang-btn {
    color: white;
}

#lang-btn a {
    color: black;
}

#lang-bar .dropdown-menu {
    padding: inherit;
}

#lang-bar .dropdown-menu .dropdown-item {
    color: black;
    text-transform: capitalize;
    padding: 0.5rem;
}

div.content {
    padding-top: 6rem;
    padding-bottom: 1rem;
}

footer h3 {
    text-transform: none;
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
}

footer p {
    font-family: 'Cabin', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #717271;
}

.footer-contacts {
    font-size: 0.75rem;
    margin-left: -1.5rem;
}

.footer-contacts li {
    position: relative;
    padding-left: 1.5rem;
    margin: 5px 0
}

.footer-contacts i {
    position: absolute;
    left: 0;
    top: 0.2789rem;
    /* font-size: 0.6875rem; */
    color: #fff;
}

.footer-contacts li a {
    color: #919491
}

.footer-contacts li a:hover {
    color: #fff
}

.social-links a:hover svg {
    color: #fff
}

.list-inline:not(.text-right) > li:not(:last-child) {
    margin-right: 1rem;
}

.list-inline > li {
    display: inline-block;
}

.bottom-footer {
    border-top: 1px solid #464d46;
    padding: 1rem 0 3rem
}

.copyright a {
    color: #919491
}

.footer-menu a, .footer-menu li {
    color: #919491
}

.footer-menu a:hover {
    color: #fff
}

.social-links a:hover svg {
    color: #fff;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: solid #f8cc46 1px;
    padding: 50px 0 0;
    background-color: rgb(50, 50, 50);
}

::-moz-selection {
    background: rgba(248, 204, 70, 0.4);
    text-shadow: none;
}

::selection {
    background: rgba(248, 204, 70, 0.4);
    text-shadow: none;
}

::-webkit-input-placeholder {
    color: #717271 !important;
    opacity: 1 !important
}

::-moz-placeholder {
    color: #717271 !important;
    opacity: 1 !important
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.container-nw {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*
    BUTTONS
 */

.btn-primary {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    background-color: #f8cc46;
    color: black;
    border: 0;
    padding-top: 0.6rem;
    padding-right: 1.875rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
}

.btn-primary .btn-rad {
    border-radius: 1.25rem;
}

.btn-primary:before, .btn-primary:after {
    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .5s;
    transition: all .5s
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: black !important;
    color: #f8cc46 !important;
}

.btn-link {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #f8cc46;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
    text-decoration: none;
    background-color: transparent;
    color: rgba(248, 204, 70, 0.85);
}

.btn-outline-secondary {
    border: 1px solid #f8cc46;
    color: #f8cc46;
    background-color: transparent;
    background-image: none;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: #f8cc46;
    border-color: #f8cc46;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #f8cc46;
    background-color: black;
    border-color: black;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.btn:before {
    left: 100%
}

.btn:after {
    left: -100%
}

.btn:hover:before {
    left: -100%
}

.btn:hover:after {
    left: 100%
}

/*
    DROPDOWN
 */

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f8cc46;
}

/*
    TEXT COLORS
 */

.default-text {
    color: #f8cc46;
}

/*
    SHADOWS
 */

.sha-1, .sha-2, .sha-3, .sha-4 {
    -webkit-transition: -webkit-box-shadow .25s ease-out;
    transition: -webkit-box-shadow .25s ease-out;
    transition: box-shadow .25s ease-out;
    transition: box-shadow .25s ease-out, -webkit-box-shadow .25s ease-out
}

.sha-1-hover, .sha-2-hover, .sha-3-hover, .sha-4-hover {
    cursor: pointer
}

.sha-1-hover:hover, .sha-2-hover:hover, .sha-3-hover:hover, .sha-4-hover:hover {
    -webkit-transition: -webkit-box-shadow .25s ease-out;
    transition: -webkit-box-shadow .25s ease-out;
    transition: box-shadow .25s ease-out;
    transition: box-shadow .25s ease-out, -webkit-box-shadow .25s ease-out
}

.sha-1, .sha-1-hover:hover {
    -webkit-box-shadow: 0 0 0 1px rgba(56, 60, 67, .05), 0 1px 3px 0 rgba(56, 60, 67, .15);
    box-shadow: 0 0 0 1px rgba(56, 60, 67, .05), 0 1px 3px 0 rgba(56, 60, 67, .15)
}

.sha-2, .sha-2-hover:hover {
    -webkit-box-shadow: 0 0 0 1px rgba(56, 60, 67, .07), 0 3px 6px 0 rgba(56, 60, 67, .15);
    box-shadow: 0 0 0 1px rgba(56, 60, 67, .07), 0 3px 6px 0 rgba(56, 60, 67, .15)
}

.sha-3, .sha-3-hover:hover {
    -webkit-box-shadow: 0 0 0 1px rgba(56, 60, 67, .07), 0 8px 14px 1px rgba(56, 60, 67, .15);
    box-shadow: 0 0 0 1px rgba(56, 60, 67, .07), 0 8px 14px 1px rgba(56, 60, 67, .15)
}

.sha-4, .sha-4-hover:hover {
    -webkit-box-shadow: 0 0 0 1px rgba(56, 60, 67, .07), 0 15px 20px 1px rgba(56, 60, 67, .12);
    box-shadow: 0 0 0 1px rgba(56, 60, 67, .07), 0 15px 20px 1px rgba(56, 60, 67, .12)
}

.row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*
    wiiiiide containers
 */

@media (min-width: 1400px) {
    .container-wide {
        max-width: 1310px;
    }
}

@media (min-width: 1600px) {
    .container-wide {
        max-width: 1510px;
    }
}

/*
    TEMP CSS
 */

.menu-disabled {
    text-decoration: line-through;
}

.menu-disabled a {
    color: #3e3e3e !important;
}