body {
    font-family: 'Gordita', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
}

@media (max-width: 812px) {
    body {
        padding-top: 4rem;
    }
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0 0 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 25px;
}

@media (min-width: 768px) {
    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 0 0 35px;
    }
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #f8cc46;
}

a:focus, a:hover {
    text-decoration: none;
    color: rgba(248, 204, 70, 0.85);
}

#mainNav {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: black;
}

#mainNav .container {
    margin-right: 0px;
}

#mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: white;
    border: 1px solid white;
}

#mainNav a {
    color: white;
}

@media (min-width: 768px) and (max-width: 990px) {
    #mainNav a {
        font-size: small
    }
}

#mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (max-width: 992px) {
    #mainNav .navbar-brand {
        font-size: inherit;
    }
}

@media (max-width: 310px) {
    #mainNav .navbar-brand {
        font-size: smaller;
    }
}

@media (min-width: 992px) {
    #mainNav .navbar-brand {
        padding-left: 25px;
        font-weight: 700;
    }

    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;
        border-bottom: none;
    }

    #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background: black;
    }

    #mainNav .nav-link.active {
        outline: none;
        background-color: rgba(255, 255, 255, 0.3);
    }

    #mainNav .nav-link.active:hover {
        color: white;
    }
}

.btn-group img {
    margin-right: 10px
}

#lang-btn {
    color: white;
}

#lang-btn a {
    color: black;
}

#lang-bar .dropdown-menu {
    padding: inherit;
}

#lang-bar .dropdown-menu .dropdown-item {
    color: black;
    text-transform: capitalize;
    padding: 0.5rem;
}

div.content {
    padding-top: 6rem;
    padding-bottom: 1rem;
}

footer {
    bottom: 0;
    width: 100%;
    border-top: solid #f8cc46 1px;
    padding: 50px 0 0;
    background-color: rgb(50, 50, 50);
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    padding-bottom: 5px;
}

footer .copy {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid 1px;
    color: #aeb5b6;
}

footer .copy a {
    color: #aeb5b6;
}

footer .copy a:hover {
    color: rgba(174, 181, 182, 0.85);
}

footer h6 {
    color: white;
}

::-moz-selection {
    background: rgba(248, 204, 70, 0.4);
    text-shadow: none;
}

::selection {
    background: rgba(248, 204, 70, 0.4);
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

.btn {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0;
}

/*
    BOOTSTRAP FIXES
*/

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #f8cc46;
    color: black;
}

.btn-link {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #f8cc46;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
    text-decoration: none;
    background-color: transparent;
    color: rgba(248, 204, 70, 0.85);
}

.btn-outline-secondary {
    color: #f8cc46;
    background-color: transparent;
    background-image: none;
    border-color: #f8cc46;
}

.btn-outline-secondary:hover {
    color: black;
    background-color: #f8cc46;
    border-color: #f8cc46;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #f8cc46;
    background-color: black;
    border-color: black;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f8cc46;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.container-nw {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }
}

@media (min-width: 1900px) {
    .container {
        max-width: 1900px;
    }
}