.menu-entry {
    padding-left: 30px;
}

.menu-entry:hover {
    color: #f64f64;
}

#magic-line {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100px;
	height: 2px;
	background: #fe4902;
}

.menu-header {
    background-color: #fff;
    background-color: #f8f8f8;
    border-bottom: 2px solid gray;
    border: 1px solid #cfcfcf;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

#profile-menu {
	margin: 0 auto;
	list-style: none;
	position: relative;
}
#profile-menu li {
	display: inline-block;
}
#profile-menu a {
	color: black;
	font-size: 14px;
	float: left;
	padding: 6px 10px 4px 10px;
    font-weight: bold;
}
#profile-menu a:hover {
	color: #fe4902;
}
#magic-line {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100px;
	height: 2px;
	background: #fe4902;
}
.active a {
	color: #fe4902 !important;
}
.ie6 #profile-menu li, .ie7 #profile-menu li {
	display: inline;
}
.ie6 #magic-line {
	bottom: -3px;
}
