h4.card-title {
    letter-spacing: inherit;
    font-size: 20px;
    line-height: 32px;
    text-transform: inherit;
    font-weight: 500;
    color: black;
}

h4.blog-header {
    text-transform: inherit;
    font-size: 16px;
}

h5.card-title {
    letter-spacing: inherit;
    font-size: 18px;
    line-height: 32px;
    text-transform: inherit;
    font-weight: 500;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb li a {
    color: #b9babd;
}

.breadcrumb li a:hover {
    color: black;
}

.card:hover .card-title {
    color: #f8cc46;
}

.card a {
    color: black;
}