{% extends "partials/layout.html" %}

{% block title %}
    {{ _('RRoadVPN - Pricing') }}
{% endblock %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/pricing/pricing.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/pricing/pricing.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='main/pricing/pricing.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='main/pricing/pricing.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}

{% endblock %}

{% block body %}
    <div class="container container-wide pb-75 pt-75">
        <h2 class="text-center text-dark" style="margin-bottom: 100px;">{{ _('CHOOSE YOUR PACK') }}</h2>
        {% with order=false, vpn_subs_services=subscriptions %}
            {% include 'partials/pricing-packs.html' %}
        {% endwith %}
    </div>
{% endblock %}