{% extends "partials/layout.html" %}

{% block title %}
    {{ _('Railroad VPN - Blog | VPN for business') }}
{% endblock %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/blog/article.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/blog/article.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='main/blog/article.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='main/blog/article.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}
    {% set title = "RailroadVPN - Blog" %}
    {% set description = "RailroadVPN Blog - VPN for business" %}
    <meta name="description" content="{{ description }}">

    <!-- OpenGraph -->
    <meta property="og:url" content="{{ request.url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image"
          content="{{ url_for('static', filename='main/images/articles/vpn-for-business/title.png') }}"/>
    <meta property="og:image:width" content="360"/>
    <meta property="og:image:height" content="240"/>
    <meta property="og:locale" content="en_EN"/>
    <meta property="og:site_name" content="RailroadVPN"/>

    <!-- Twitter -->
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:image:src"
          content="{{ url_for('static', filename='main/images/articles/vpn-for-business/title.png') }}"/>
    <meta name="twitter:image"
          content="{{ url_for('static', filename='main/images/articles/vpn-for-business/title.png') }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@rroadvpn"/>
    <meta name="twitter:domain" content="rroadvpn.net">
{% endblock %}

{% block body %}
<section class="container pt-7 pb-7 pt-sm-5 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('blog.blog_page') }}">
                                {{ _('Blog') }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active">
                            VPN for business
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <h1 class="text-center">
                VPN for business
            </h1>
            <p class="article-paragraph">
                Theft of online data is a threat for any big companies. If outsiders gain access to your clients' confidential information (which is on purpose because of a hacker attack), the consequences can be disastrous. In 2018, the topic of cyber security is one of the main issues, and therefore the issue of preventing data leaks becomes more urgent than ever. If your company does not use a VPN service, then all your confidential data is defenseless against hackers and cybercriminals. The problem is that no one knows when they strike!
            </p>
            <p class="article-paragraph">
                VPN service is the best and most secure way to protect your business and local network data from hackers, hacks and malware. By sending traffic to your network through a secure connection to a remote server, the VPN service will encrypt your data, making it almost impossible for hackers to access it.
            </p>
            <p class="article-paragraph">
                You need to teach your employees to use VPN. Serious corporations have long demanded that employees connect to corporate resources only through VPN. Everything related to business, passwords, data and correspondence must be protected very carefully. Without VPN it is impossible.
            </p>
            <p class="article-paragraph">
                Hackers won’t be able to figure out, what exactly is this user busy with, what data does he transmit and receive. Moreover, in companies concerned with their own security, all devices used by workers are forced to turn on the mandatory use of VPN connections. Even if the use of the Internet in this case goes through the corporate network and under the strict supervision of the security service.
            </p>
            <p class="article-paragraph">
                Also VPN helps to find new customers. You can contact people from any countries to establish cooperation, without fear of blocking. It safe, simple and conveniently with RailroadVPN!
            </p>
        </div>
        <div id="social-share_buttons-container" class="pt-3 pb-3">
            <ul class="list-unstyled list-inline">
                {% if session['user_locale'] == 'ru' %}
                    <!-- VK -->
                    <li>
                        <a href="https://vk.com/share.php?url={{ request.url | urlencode }}">
                            <div class="row text-muted">
                                <div class="col-2">
                                    <i class="fab fa-vk"></i>
                                </div>
                                <div class="pl-2">
                                    <small class="text-muted">{{ _('Share on VK') }}</small>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endif %}
                <!-- FaceBook -->
                <li>
                    <a class="nc_tweet swp_share_link" rel="nofollow noreferrer noopener" target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u={{ request.url | urlencode }}"
                       onclick="window.open(this.href); return false;"
                       onkeypress="window.open(this.href); return false;">
                        <div class="row text-muted">
                            <div class="col-2">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="pl-0">
                                <small class="text-muted">{{ _('Share on Facebook') }}</small>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Twitter -->
                <li>
                    <a class="nc_tweet swp_share_link" rel="nofollow noreferrer noopener" target="_blank"
                       onclick="window.open(this.href); return false;"
                       onkeypress="window.open(this.href); return false;"
                       href="https://twitter.com/intent/tweet?text={{ "RailroadVPN - create your own VPN railroad dream!" | urlencode }}&amp;url={{ request.url | urlencode }}&amp;hashtags=vpn,rroadvpn,business&amp;via=rroadvpn"
                       data-link="https://twitter.com/intent/tweet?text={{ "RailroadVPN - create your own VPN railroad dream!" | urlencode }}&amp;url={{ request.url | urlencode }}&amp;hashtags=vpn,rroadvpn,business&amp;via=rroadvpn">
                        <div class="row text-muted">
                            <div class="col-2">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="pl-2">
                                <small>{{ _('Tweet') }}</small>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pt-3 pb-3 mb-4" style="background-color: #f8f8f8">
            <div class="form-group pb-1 pl-5 pr-5 pt-2">
                <div class="row">
                    <h6>{{ _('Subscribe to Railroad Network blog') }}</h6>
                    <div class="col-lg-10 mb-4">
                        <label for="inputPassword2" class="sr-only">{{ _('Email') }}</label>
                        <input type="email" class="form-control" required name="email"
                               placeholder="example@mail.com">
                    </div>
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-primary col-12 mb-2">{{ _('Subscribe') }}</button>
                    </div>
                </div>
            </div>
        </div>
        {% autoescape false %}
        {{ disqus_dev() }}
        {{ disqus_show_comments('rroadvpn') }}
        {% endautoescape %}
    </div>
</section>
{% endblock %}
