{% extends "partials/layout.html" %}

{% block title %}
    {{ _('Test article title') }}
{% endblock %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/blog/article.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/blog/article.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='main/blog/article.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='main/blog/article.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}


{% block meta %}
    <meta name="description" content="">

    <!-- OpenGraph -->
    <meta property="og:url" content="{{ request.url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:image"
          content="{{ request.host + '/123' }}"/>
    <meta property="og:image:width" content="360"/>
    <meta property="og:image:height" content="240"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:site_name" content="RailroadNetworkVPN"/>

    <!-- Facebook -->
    <meta property="fb:app_id" content="{{ config['FACEBOOK_APP_ID'] }}">

    <!-- Twitter -->
    <meta name="twitter:title" content=""/>
    <meta name="twitter:description" content=""/>
    <meta name="twitter:image:src" content="{{ request.host + '/123' }}"/>
    <meta name="twitter:image" content="{{ request.host + '/123' }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@giftshaker"/>
    <meta name="twitter:domain" content="giftshaker.com">
{% endblock %}

{% block body %}
<section class="content-section">
    <div class="container">
        <div class="row justify-content-center">
            <h1>TITLE</h1>
            <p class="article-paragraph">
                It is a long established fact that a reader will be distracted by the readable content of a page
                when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English.
                Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
            <p class="article-paragraph">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from
                a
                Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
                Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum
                dolor
                sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                their
                exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </p>
            <h2>TITLE #2</h2>
            <p class="article-paragraph">
                It is a long established fact that a reader will be distracted by the readable content of a page
                when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English.
                Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </p>
        </div>
        <div id="social-share_buttons-container" class="pt-3 pb-3">
            <ul class="list-unstyled list-inline">
                <!-- Google+ -->
                <li>
                    <a href="https://plus.google.com/share?url=http://www.winusb.net" onclick="javascript:window.open(this.href,
							  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <div class="row text-muted">
                            <div class="col-lg-2">
                                <i class="fa fa-google-plus-official"></i>
                            </div>
                            <div class="col-lg-10 pl-0">
                                <small class="text-muted">Share on Google Plus</small>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- FaceBook -->
                <li>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.winusb.net" onclick="javascript:window.open(this.href,
							  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <div class="row text-muted">
                            <div class="col-lg-2">
                                <i class="fa fa-facebook-official"></i>
                            </div>
                            <div class="col-lg-10 pl-2">
                                <small class="text-muted">Share on Facebook</small>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- Twitter -->
                <li>
                    <a href="https://twitter.com/intent/tweet?URL=http%3A//www.winusb.net&amp;text=WinUSB%20-%20Create%20Windows%20Bootable%20USB%20without%20formatting!%0AHome%3A%20http%3A//www.winusb.net%0A&amp;hashtags=windows,bootable,usb,winusb"
                       onclick="javascript:window.open(this.href,
							  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <div class="row text-muted">
                            <div class="col-lg-4">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <div class="col-lg-8 pl-0">
                                <small>Tweet</small>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        {% autoescape false %}
        {{ disqus_dev() }}
        {{ disqus_show_comments('rroadvpn') }}
        {% endautoescape %}
    </div>
</section>
{% endblock %}