{% extends "partials/layout.html" %}

{% block title %}
    {{ _('Railroad VPN - Blog') }}
{% endblock %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/blog/blog.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/blog/blog.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='main/blog/blog.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='main/blog/blog.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}
    {% set title = "RailroadVPN - Blog" %}
    {% set description = "Any geo restrictions? Be first who knew it!" %}
    <meta name="description" content="{{ description }}">

    <!-- OpenGraph -->
    <meta property="og:url" content="{{ request.url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="{{ url_for('static', filename='main/images/mascot/mascot.png') }}"/>
    <meta property="og:image:width" content="360"/>
    <meta property="og:image:height" content="240"/>
    <meta property="og:locale" content="en_EN"/>
    <meta property="og:site_name" content="RailroadVPN"/>

    <!-- Twitter -->
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:image:src" content="{{ url_for('static', filename='main/images/mascot/mascot.png') }}"/>
    <meta name="twitter:image" content="{{ url_for('static', filename='main/images/mascot/mascot.png') }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@rroadvpn"/>
    <meta name="twitter:domain" content="rroadvpn.net">
{% endblock %}

{% block body %}
    <section class="pt-7 pb-7 pt-sm-5 pb-sm-5" style="background-color: #f8f8f8;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">{{ _('Blog') }}</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-12">
                    <div class="card featured-article sha-1 sha-3-hover">
                        <a data-name="article_page"
                           href="{{ url_for('blog.article_page', article_name='resources-blocked-in-different-countries') }}">
                            <div class="row no-gutters">
                                <div class="col-sm-12 col-md-12 col-xl-6 col-xxl-6">
                                    <img src="{{ url_for('static', filename='main/images/articles/resources-blocked-in-different-countries/title.jpg') }}"
                                         class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-12 col-md-12 col-xl-6 col-xxl-6 p-5">
                                    <div class="card-block">
                                        <small class="text-muted">
                                            <i class="fa fa-star"
                                               style="color: #f8cc46"></i> {{ _('Featured article') }}
                                        </small>
                                        <h4 class="card-title pt-1">
                                            Resource blocked in different countries
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer w-100">
                                <small class="text-muted">
                                    {{ _('Posted at ') }} 2 {{ _('April') }}
                                </small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row mt-5 ml-0">
                        <div class="col-xs-12">
                            <h4 class="small mb-3 blog-header">
                                {{ _('Articles') }}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 mb-4">
                            <div class="card sha-1 sha-3-hover">
                                <a data-name="article_page"
                                   href="{{ url_for('blog.article_page', article_name='how-to-use-railroad-vpn-for-windows') }}">
                                    <img class="card-img-top"
                                         src="{{ url_for('static', filename='main/images/articles/how-to-use-railroad-vpn-for-windows/title.png') }}"
                                         alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">How to use RailroadVPN for Windows?</h5>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">
                                            {{ _('Posted at ') }} 26 {{ _('May') }}
                                        </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 mb-4">
                            <div class="card sha-1 sha-3-hover">
                                <a data-name="article_page"
                                   href="{{ url_for('blog.article_page', article_name='how-to-use-railroad-vpn-for-android') }}">
                                    <img class="card-img-top"
                                         src="{{ url_for('static', filename='main/images/articles/how-to-use-railroad-vpn-for-android/title.png') }}"
                                         alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">How to use RailroadVPN for Android?</h5>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">
                                            {{ _('Posted at ') }} 26 {{ _('May') }}
                                        </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 mb-4">
                            <div class="card sha-1 sha-3-hover">
                                <a data-name="article_page"
                                   href="{{ url_for('blog.article_page', article_name='why-i-need-railroad-vpn') }}">
                                    <img class="card-img-top"
                                         src="{{ url_for('static', filename='main/images/articles/why-i-need-railroad-vpn/title.png') }}"
                                         alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">Why i need RailroadVPN?</h5>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">
                                            {{ _('Posted at ') }} 26 {{ _('May') }}
                                        </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 mb-4">
                            <div class="card sha-1 sha-3-hover">
                                <a data-name="article_page"
                                   href="{{ url_for('blog.article_page', article_name='vpn-for-business') }}">
                                    <img class="card-img-top"
                                         src="{{ url_for('static', filename='main/images/articles/vpn-for-business/title.png') }}"
                                         alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">VPN for business?</h5>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">
                                            {{ _('Posted at ') }} 26 {{ _('May') }}
                                        </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
