{% extends "partials/layout.html" %}

{% block title %}
    {{ _('Railroad VPN - Order') }}
{% endblock %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/order/order.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/order/order.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='assets/underscore/underscore.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='assets/jquery/jquery.Backstretch.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/order/order.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='assets/underscore/underscore.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='assets/jquery/jquery.Backstretch.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/order/order.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}
    {% set title = "RailroadVPN - Order" %}
    {% set description = "You are on the step closer to private internet." %}
    <meta name="description" content="{{ description }}">

    <!-- OpenGraph -->
    <meta property="og:url" content="{{ request.url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="{{ url_for('static', filename='main/images/mascot/mascot.png') }}"/>
    <meta property="og:image:width" content="360"/>
    <meta property="og:image:height" content="240"/>
    <meta property="og:locale" content="en_EN"/>
    <meta property="og:site_name" content="RailroadVPN"/>

    <!-- Twitter -->
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:image:src" content="{{ url_for('static', filename='main/images/mascot/mascot.png') }}"/>
    <meta name="twitter:image" content="{{ url_for('static', filename='main/images/mascot/mascot.png') }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@rroadvpn"/>
    <meta name="twitter:domain" content="rroadvpn.net">

    <meta id="profile_page_url" data-method="GET" data-url="{{ url_for('profile.profile_page') }}">
    <meta id="choose_service_pack_url" data-method="POST" data-url="{{ url_for('order.choose_service_pack') }}">
    <meta id="email_check_url" data-method="GET" data-url="{{ url_for('auth.is_email_busy') }}">
    <meta id="is_trial_available_url" data-method="GET" data-url="{{ url_for('auth.is_trial_available') }}">

    <meta id="chosen_sub_url" data-method="GET" data-url="{{ url_for('static', filename='tmplst/chosen_subscription.html') }}">

    <meta id="subscriptionsData" data-json='{{ services | tojson }}'>
{% endblock %}

{% block body %}
    <div id="order-form-container" class="container container-wide content-section" style="padding-top: 50px;">
        <div class="row text-center justify-content-center">
            <div class="form-box">
                <form class="order-form" role="form" action="{{ url_for('order.submit_order') }}" method="POST">
                    <h3>
                        {{ _('Order') }}
                        <small>#</small>
                        <small id="order_code">{{ session['order']['code'] }}</small>
                    </h3>
                    <p>{{ _('Build your own railroad in 3 easy steps') }}</p>
                    <div class="order-steps">
                        <div class="order-progress">
                            <div id="progress-bar" class="order-progress-line" data-now-value="16.66"
                                 data-number-of-steps="3"
                                 style="width: 16.66%;"></div>
                        </div>
                        <div id="pack-step" class="order-progress-step active" data-id="pack" data-num="1">
                            <div class="order-progress-step-icon"><i class="fa fa-cube"></i></div>
                            <p>{{ _('service') }}</p>
                        </div>
                        <div id="account-step" class="order-progress-step" data-id="account" data-num="2">
                            <div class="order-progress-step-icon"><i class="fa fa-user"></i></div>
                            <p>{{ _('account') }}</p>
                        </div>
                        <div id="payment-step" class="order-progress-step" data-id="payment" data-num="3">
                            <div class="order-progress-step-icon"><i class="fa fa-credit-card"></i></div>
                            <p>{{ _('payment') }}</p>
                        </div>
                    </div>

                    <fieldset id="pack-fieldset" class="container container-wide" data-id="pack">
                        <input id="pack_id" type="hidden" name="service_id" value="">
                        <h2 class="text-center text-dark" style="margin-bottom: 100px;">{{ _('CHOOSE YOUR SERVICE') }}</h2>
                        {% with order_page=true, vpn_subs_services=services %}
                            {% include 'partials/pricing-packs.html' %}
                        {% endwith %}
                    </fieldset>

                    <fieldset id="account-fieldset" class="container container-wide" data-id="account">
                        <div class="row">
                            <div class="col-lg-4 col-xl-4 col-xxl-4 d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
                                <div class="chosen-subscription">

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 justify-content-center text-center">
                                {% if 'user' in session and session['logged_in'] == true and session['user'] is not none %}
                                    <input id="user_uuid" type="hidden" name="existed_user_uuid"
                                           value="{{ session['user']['uuid'] }}">
                                    <div class="text-center">
                                        {{ _('You already logged in, if you want buy subscription for other account you have to ') }}
                                        <a data-name="logout" href="{{ url_for('auth.logout', next=request.url) }}"> {{ 'Logout' }} </a>{{ _('and than login.') }}
                                    </div>
                                {% else %}
                                    <h2 class="text-center text-dark"
                                        style="margin-bottom: 100px;">{{ _('CREATE ACCOUNT') }}</h2>
                                    <div class="form-group">
                                        <label class="sr-only" for="email">{{ _('Email') }}</label>
                                        <input id="email-input" type="email" name="email"
                                               placeholder="example@domain.com"
                                               autocomplete="email" class="order-form-email form-control">
                                        <div class="col-12 error small empty_error">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            {{ _('Enter email please') }}
                                        </div>
                                        <div class="col-12 error small busy_error">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            {{ _('Entered email is busy') }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="password">{{ _('Password') }}</label>
                                        <input id="password-input" type="password" name="password"
                                               placeholder="{{ _('Password') }}..."
                                               autocomplete="new-password" class="order-form-password form-control">
                                        <div class="col-12 error small empty_error">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            {{ _('Enter password please') }}
                                        </div>
                                        <div class="col-12 error small short_error">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            {{ _('Entered password too short. Minimum length 6 chars') }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="repeat-password">{{ _('Verify password') }}</label>
                                        <input id="repeat-password-input" type="password" name="password_repeat"
                                               placeholder="{{ _('Verify password') }}..." autocomplete="new-password"
                                               class="order-form-repeat-password form-control">
                                        <div class="col-12 error small empty_error">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            {{ _('Enter password again to verify it') }}
                                        </div>
                                        <div class="col-12 error small match_error">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            {{ _('Entered passwords does not match') }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="form-group order-form-buttons text-center pt-2">
                                    <button type="button" class="btn btn-link btn-previous">{{ _('Back') }}</button>
                                    <button type="button" class="btn btn-next">{{ _('Choose payment method') }}</button>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 d-none d-xs-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
                                <div class="chosen-subscription-mini">

                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset id="payment-fieldset" class="container container-wide" data-id="payment">
                        <input id="payment_method" type="hidden">
                        <div class="row">
                            <div class="col-lg-4 col-xl-3 col-xxl-3 d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
                                <div class="last-step">
                                    <div class="card">
                                        <h5 class="card-header" style="background-color: rgba(248, 204, 70, 3);">
                                            {{ _('Just last step to...') }}
                                        </h5>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <i class="fa fa-check-circle"></i>
                                                    {{ _('pay ') }} <span class="last_step-price text-warning"></span>
                                                    {{ _('and acquire') }}
                                                    <span class="chosen-subscription-name"
                                                          style="color: rgba(248, 204, 70, 3)"></span>
                                                </li>
                                                <li class="list-group-item paid-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('speed up your internet connection') }}
                                                </li>
                                                <li class="list-group-item free-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('obtain security') }}
                                                </li>
                                                <li class="list-group-item free-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('be anonymous in internet') }}
                                                </li>
                                                <li class="list-group-item free-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('access to geo-restricted resources') }}
                                                </li>
                                                <li class="list-group-item paid-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('get friendly customer support') }}
                                                </li>
                                                <li class="list-group-item free-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('feel safe while using public wifi') }}
                                                </li>
                                                <li class="list-group-item paid-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('build your own network') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- check trial -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 col-xxl-9 justify-content-center text-center">
                                <div class="form-group">
                                    <div id="payment-method-error" class="col-12 error small">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ _('Choose payment method before proceed') }}
                                    </div>
                                </div>
                                <div class="need_payment" style="display: none;">
                                    <div id="payment_methods-container" class="row">
                                        <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 px-0 p-4">
                                            <div class="payment-method" data-id="1">
                                                <img src="{{ url_for('static', filename='main/order/images/cc.png') }}"
                                                     class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 px-0 p-4">
                                            <div class="payment-method" data-id="14">
                                                <img src="{{ url_for('static', filename='main/order/images/paypal.png') }}"
                                                     class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="show_more_payment_methods-text" class="text-center">
                                        <h5>
                                            <button type="button" data-toggle="modal"
                                                    data-target="#payment_methods-modal"
                                                    class="btn btn-link">{{ _('Show more ways to pay') }}</button>
                                        </h5>
                                    </div>
                                </div>
                                <div class="free_payment" style="display: none;">
                                    <i class="fa fa-info-circle"></i>
                                    {{ _('For free pack no need payment. Press Continue button.') }}
                                </div>
                                <div class="trial_payment" style="display: none;">
                                    <p>
                                        <i class="fa fa-info-circle"></i>
                                        {{ _('You order trial period for ') }} <span class="trial_days"></span> {{ _(' days') }}.
                                    </p>
                                    <p>
                                        <small>{{ _('After this period, if you want to continue use VPN service you have to pay for month subscription. You can do this in profile page.') }}</small>
                                    </p>
                                </div>
                                <div class="order-form-buttons" style="padding-bottom: 50px">
                                    <button type="button" class="btn btn-link btn-previous">{{ _('Back') }}</button>
                                    <button type="submit" class="btn">{{ _('Continue') }}</button>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 d-none d-xs-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
                                <div class="last-step">
                                    <div class="card">
                                        <h5 class="card-header" style="background-color: rgba(248, 204, 70, 3);">
                                            {{ _('Just last step to...') }}
                                        </h5>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    <i class="fa fa-check-circle"></i>
                                                    {{ _('pay ') }} <span class="last_step-price text-warning"></span>
                                                    {{ _('and acquire') }}
                                                    <span class="chosen-subscription-name"
                                                          style="color: rgba(248, 204, 70, 3)"></span>
                                                </li>
                                                <li class="list-group-item paid-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('speed up your internet connection') }}
                                                </li>
                                                <li class="list-group-item free-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('obtain security') }}
                                                </li>
                                                <li class="list-group-item free-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('be anonymous in internet') }}
                                                </li>
                                                <li class="list-group-item free-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('access to geo-restricted resources') }}
                                                </li>
                                                <li class="list-group-item paid-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('get friendly customer support') }}
                                                </li>
                                                <li class="list-group-item free-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('feel safe while using public wifi') }}
                                                </li>
                                                <li class="list-group-item paid-feature">
                                                    <i class="fa fa-check-circle"></i> {{ _('build your own network') }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div id="payment_methods-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ _('Choose your favorite payment method') }}<sup>*</sup></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 px-0 p-4">
                            <div class="payment-method additional" data-id="36">
                                <img src="{{ url_for('static', filename='main/order/images/other/qiwi.png') }}"
                                     class="img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 px-0 p-4">
                            <div class="payment-method additional" data-id="70">
                                <img src="{{ url_for('static', filename='main/order/images/other/yandex_money.png') }}"
                                     class="img-fluid">
                            </div>
                        </div>
                        <!-- not russian payment methods -->
                        {% if session['user_locale'] != 'ru' %}
                            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 px-0 p-4">
                                <div class="payment-method additional" data-id="70">
                                    <img src="{{ url_for('static', filename='main/order/images/other/mybank.png') }}"
                                         class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 px-0 p-4">
                                <div class="payment-method additional" data-id="7">
                                    <img src="{{ url_for('static', filename='main/order/images/other/jcb.png') }}"
                                         class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 px-0 p-4">
                                <div class="payment-method additional" data-id="34">
                                    <img src="{{ url_for('static', filename='main/order/images/other/alipay.png') }}"
                                         class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 px-0 p-4">
                                <div class="payment-method additional" data-id="16">
                                    <img src="{{ url_for('static', filename='main/order/images/other/ideal.png') }}"
                                         class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 px-0 p-4">
                                <div class="payment-method additional" data-id="69">
                                    <img src="{{ url_for('static', filename='main/order/images/other/dragonpay.png') }}"
                                         class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 px-0 p-4">
                                <div class="payment-method additional" data-id="69">
                                    <img src="{{ url_for('static', filename='main/order/images/other/cashu.png') }}"
                                         class="img-fluid">
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-sm-12 col-md-6 col-xl-4 col-xxl-4 px-0 p-4">
                            <div class="payment-method additional text" data-id="0">
                                <h5>{{ _('Other...') }}</h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <span style="padding: 0 10px 0 10px">
                            <small>* {{ _('Some payment methods can be unavailable on payment page. Don\'t worry, you can change payment method any time on payment page.') }}</small>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}