{% extends "partials/layout.html" %}

{% block title %}
    {{ _('About Us') }}
{% endblock %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/about/about.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/about/about.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='main/about/about.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='main/about/contact.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}

{% endblock %}

{% block body %}
    <section class="pt-7 pb-7 pt-sm-5 pb-sm-5">
        <div class="container">
            <div class="about-title text-center">
                <h2 class="text-center text-dark" data-animate="fadeInUp" data-delay=".1" class="animated fadeInUp"
                    style="animation-duration: 0.6s; animation-delay: 0.1s;">{{ _('Welcome to Railroad Network') }}</h2>
                <p data-animate="fadeInUp" data-delay=".1" class="animated fadeInUp"
                   style="animation-duration: 0.6s; animation-delay: 0.2s;">
                    {{ _('about_us_start_text') }}
                </p>
            </div>
            <hr>
            <div class="row">
                <div class="about-target col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <h5 class="text-capitalize text-dark animated fadeInUp"
                        style="animation-duration: 0.6s; animation-delay: 0.3s;">{{ _('Who We Are') }}</h5>
                    <p class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.4s;">
                        {{ _('who_we_are_text') }}
                    </p>
                </div>
                <div class="about-target col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <h5 class="text-capitalize text-dark animated fadeInUp"
                        style="animation-duration: 0.6s; animation-delay: 0.3s;">{{ _('Our Mission') }}</h5>
                    <p class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.4s;">
                        {{ _('our_mission_text') }}
                    </p>
                </div>
                <div class="about-target col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <h5 class="text-capitalize text-dark animated fadeInUp"
                        style="animation-duration: 0.6s; animation-delay: 0.3s;">
                        {{ _('Our Vision') }}
                    </h5>
                    <p class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.4s;">
                        {{ _('our_vision_text') }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="write-about-us text-center col-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.1s;">
                                {{ _('Want To Write About Railroad Network?') }}
                            </h2>
                            <p class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.2s;">
                                {{ _('You can write us about your idea or trouble with our service. Business solution or you know funny joke? Feel free fill contact form.') }}
                            </p>
                            <a href="{{ url_for('contact.contact') }}" class="btn btn-warning animated fadeIn"
                               style="animation-duration: 0.6s; animation-delay: 0.3s;">
                                {{ _('Contact With Us') }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}