{% extends "partials/layout.html" %}

{% block title %}
    {{ _('About Us') }}
{% endblock %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/about/about.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/about/about.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='main/about/about.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='main/about/contact.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}

{% endblock %}

{% block body %}
    <section class="pt-7 pb-7 pt-sm-5 pb-sm-5">
        <div class="container">
            <div class="about-title text-center">
                <h2 class="text-center text-dark" data-animate="fadeInUp" data-delay=".1" class="animated fadeInUp"
                    style="animation-duration: 0.6s; animation-delay: 0.1s;">{{ _('Welcome to Railroad Network') }}</h2>
                <p data-animate="fadeInUp" data-delay=".1" class="animated fadeInUp"
                   style="animation-duration: 0.6s; animation-delay: 0.2s;">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam
                    rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                    explicabo.
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    magni
                    dolores eos qui ratione voluptatem sequi nesciunt.
                </p>
            </div>
            <hr>
            <div class="row">
                <div class="about-target col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <h5 class="text-capitalize text-dark animated fadeInUp"
                        style="animation-duration: 0.6s; animation-delay: 0.3s;">Who we are?</h5>
                    <p class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.4s;">
                        At vero eos et accusamus et iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati piditate non
                        provident, similique sunt in culpa qui officia deserunt illitia imi, id est laborum et dolorum
                        fuga.
                        Et harum quidem rerum facilis est et expedita distinctio.
                    </p>
                </div>
                <div class="about-target col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <h5 class="text-capitalize text-dark animated fadeInUp"
                        style="animation-duration: 0.6s; animation-delay: 0.3s;">Our mission</h5>
                    <p class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.4s;">
                        At vero eos et accusamus et iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati piditate non
                        provident, similique sunt in culpa qui officia deserunt illitia imi, id est laborum et dolorum
                        fuga.
                        Et harum quidem rerum facilis est et expedita distinctio.
                    </p>
                </div>
                <div class="about-target col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <h5 class="text-capitalize text-dark animated fadeInUp"
                        style="animation-duration: 0.6s; animation-delay: 0.3s;">Our vision</h5>
                    <p class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.4s;">
                        At vero eos et accusamus et iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati piditate non
                        provident, similique sunt in culpa qui officia deserunt illitia imi, id est laborum et dolorum
                        fuga.
                        Et harum quidem rerum facilis est et expedita distinctio.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="write-about-us text-center col-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.1s;">Want
                                To Write About Railroad Network?</h2>
                            <p class="animated fadeInUp" style="animation-duration: 0.6s; animation-delay: 0.2s;">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                            </p>
                            <a href="{{ url_for('contact.contact') }}" class="btn btn-warning animated fadeIn"
                               style="animation-duration: 0.6s; animation-delay: 0.3s;">Contact With Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}