<!DOCTYPE html>

<!-- HTML -->
<html lang="{{ session['lang_code'] }}">

<!-- Head -->
<head>
    {% if config['DEBUG'] == false %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89956285-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-89956285-3');
        </script>
    {% endif %}
    <!-- yandex check -->
    <meta name="yandex-verification" content="567b07301ce071b1"/>
    <!--/ yandex check -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#FF6600">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF6600">

    <meta name="msapplication-TileColor" content="#ff6600">
    <meta name="msapplication-TileImage"
          content="{{ url_for('static', filename='main/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ff6600">

    <meta id="particlesJSConfigURL" data-method="GET"
          data-url="{{ url_for('static', filename='assets/particles/particles.json') }}">
    {% block meta %}{% endblock %}

    <link type="image/png" rel="icon" href="{{ url_for('static', filename='main/favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='main/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='main/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='main/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='main/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='main/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static', filename='main/favicon/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ url_for('static', filename='main/favicon/browserconfig.xml') }}">
    <meta name="theme-color" content="#f8cc46">

    <title>
        {% block title %}
            Railroad Network VPN {{ _('Services') }}
        {% endblock %}
    </title>

    <script src="{{ url_for('static', filename='assets/jquery/jquery.min.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- CSS -->

    <!-- font awesome -->
    <link href="{{ url_for('static', filename='assets/font-awesome/css/all.css') }}"
          rel="stylesheet" type="text/css">

    {% if 'debug' in session %}
        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.css') }}" type="text/css"
              rel="stylesheet"/>

        <!-- noty -->
        <link href="{{ url_for('static', filename='assets/noty/noty.css') }}" rel="stylesheet" type="text/css">

        <!-- normalize -->
        <link href="{{ url_for('static', filename='assets/normalize.css') }}" type="text/css" rel="stylesheet"/>

        <!-- custom css -->
        <link href="{{ url_for('static', filename='main/common/fonts.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='main/default.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='main/common/canimate.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='main/common/bootstrap-fixes.css') }}" type="text/css"
              rel="stylesheet"/>
        <link href="{{ url_for('static', filename='main/common/gdpr/gdpr.css') }}" type="text/css" rel="stylesheet"/>
    {% else %}
        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}" type="text/css"
              rel="stylesheet"/>

        <!-- noty -->
        <link href="{{ url_for('static', filename='assets/noty/noty.min.css') }}" rel="stylesheet" type="text/css">

        <!-- normalize -->
        <link href="{{ url_for('static', filename='assets/normalize.css') }}" type="text/css" rel="stylesheet"/>

        <!-- custom css -->
        <link href="{{ url_for('static', filename='main/common/fonts.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='main/default.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='main/common/canimate.min.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='main/common/bootstrap-fixes.min.css') }}" type="text/css"
              rel="stylesheet"/>
        <link href="{{ url_for('static', filename='main/common/gdpr/gdpr.min.css') }}" type="text/css"
              rel="stylesheet"/>
    {% endif %}

    {% block import_css %}{% endblock %}
</head>

<body>

{% if session['network-status'] is not none %}
    <div id="network-status" class="d-none d-md-block d-sm-none">
        <ul class="network-info list-inline text-white text-center mb-md-0">
            <li>{{ _('Your IP') }}: <span data-id="ip">{{ session['network-status']['ip'] }}</span></li>
            <li>{{ _('Your Location') }}: <span data-id="loc">{{ session['network-status']['city'] }}</span></li>
            <li>{{ _('Your ISP') }}: <span data-id="loc">{{ session['network-status']['isp'] }}</span></li>
            {% if session['network-status']['status'] %}
                <li>{{ _('Your Status') }}: <span data-id="status" class="status-protected">{{ _('protected') }}</span>
                </li>
            {% else %}
                <li>{{ _('Your Status') }}: <span data-id="status"
                                                  class="status-unprotected">{{ _('unprotected') }}</span></li>
                <li><a href="#subscription" class="js-scroll-trigger">{{ _('Subscribe to get protection!') }}</a></li>
            {% endif %}
            <li class="pull-right close-btn pt-1">
                <button onclick="$('#network-status').remove();" class="btn btn-link">x</button>
            </li>
        </ul>
    </div>
{% endif %}
<nav id="main-navbar" class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand js-scroll-trigger"
       href="{{ url_for('index.index_lang_page', lang_code=session['lang_code']) }}">
        <img class="" width="50" src="{{ url_for('static', filename='main/images/mascot/mascot_head.png') }}">
        Railroad Network
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            {% block nav_menu %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger"
                       href="{{ url_for('blog.blog_page') }}">{{ _('Blog') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger"
                       href="{{ url_for('about.about_page') }}">{{ _('About Us') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger"
                       href="{{ url_for('contact.contact') }}">{{ _('Contact') }}</a>
                </li>
            {% endblock %}
            <li id="lang-bar" class="nav-item">
                <div class="btn-group">
                    <button class="btn btn-link dropdown-toggle" type="button" id="lang-btn"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="flag-icon" width="25"
                             src="{{ url_for('static', filename='assets/flags-lip/flags/4x3/' + session['lang_code']) }}.svg">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% for lang in config['LANGUAGES'] %}
                            <a class="dropdown-item"
                               href="{{ request.url | replace("/" + session['lang_code'] + "/", "/" + lang + "/") }}">
                                <img class="flag-icon" width="25"
                                     src="{{ url_for('static', filename='assets/flags-lip/flags/4x3/' + lang ) }}.svg">
                                <span class="flag-name">{{ lang }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Body -->
<main>
    {% block body %}{% endblock %}
</main>

<!-- Footer -->
<footer class="main-footer pt-4">
    <div class="container">
        <div class="bottom-footer">
            <div class="row">
                <div class="col-md-5 order-last order-md-first">
                    <p class="copyright animated fadeInDown"
                       data-animate="fadeInDown" data-delay=".85"
                       style="animation-duration: 0.6s; animation-delay: 0.85s;">
                        <a href="https://rroadvpn.net">© RRoad, <span id="copy-year">2018</span></a>
                        -
                        <a href="mailto:support@rroadvpn.net">support@rroadvpn.net</a>
                    </p>
                </div>
                <div class="col-md-7 order-first order-md-last">
                    <ul class="footer-menu list-inline text-md-right mb-md-0 animated fadeInDown"
                        data-animate="fadeInDown" data-delay=".95"
                        style="animation-duration: 0.6s; animation-delay: 0.95s;">
                        <li><a href="#">{{ _('Privacy Policy') }}</a></li>
                        <li>|</li>
                        <li><a href="#">{{ _('Terms &amp; Conditions') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

{% if 'gdpr' not in session %}
    <div id="gdpr-notification">
        <p>
            {{ _('Please know that our website uses cookies to provide you with a complete experience. By means of cookies, you can enjoy all website features, including a fast account login. If you disagree...') }}
            <a id="gdpr-read_more-btn">{{ _('Read more...') }}</a>
        </p>
        <p id="gdpr_more-p" style="display: none;">
            {{ _('Please know that our website uses cookies to provide you with a complete experience. By means of cookies, you can enjoy all website features, including a fast account login. If you disagree with our usage of cookies, please make the necessary changes, to either block or disable them, from your browser\'s settings at any time. The option to continue visiting the website without making any changes will be regarded as an acceptance of cookies.') }}
        </p>
        <div id="gdpr-notification-close" class="gdpr-notification-close">X</div>
    </div>
{% endif %}

<!-- Javascript -->

<!-- moment -->
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}

<!-- font awesome -->
<script src="{{ url_for('static', filename='assets/font-awesome/js/all.js') }}" type="text/javascript"
        charset="utf-8"></script>

{% if 'debug' in session %}
    <!-- JQuery Resources -->
    <script src="{{ url_for('static', filename='assets/jquery/jquery.form.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='assets/jquery/jquery.easing.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.bundle.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- underscore -->
    <script src="{{ url_for('static', filename='assets/underscore/underscore.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- moment -->
    <script src="{{ url_for('static', filename='assets/moment/moment.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- noty -->
    <script src="{{ url_for('static', filename='assets/noty/noty.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- waypoints -->
    <script src="{{ url_for('static', filename='assets/waypoints/jquery.waypoints.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='assets/waypoints/shortcuts/sticky.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- custom js -->
    <script src="{{ url_for('static', filename='main/common/init.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='main/common/navigation.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='main/common/utils.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='main/common/notification.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='main/common/gdpr/gdpr.js') }}" type="text/javascript"
            charset="utf-8"></script>
{% else %}
    <!-- JQuery Resources -->
    <script src="{{ url_for('static', filename='assets/jquery/jquery.form.min.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='assets/jquery/jquery.easing.min.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.bundle.min.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- moment -->
    <script src="{{ url_for('static', filename='assets/moment/moment.min.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- noty -->
    <script src="{{ url_for('static', filename='assets/noty/noty.min.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- underscore -->
    <script src="{{ url_for('static', filename='assets/underscore/underscore.min.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- waypoints -->
    <script src="{{ url_for('static', filename='assets/waypoints/jquery.waypoints.min.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='assets/waypoints/shortcuts/sticky.min.js') }}" type="text/javascript"
            charset="utf-8"></script>

    <!-- custom js -->
    <script src="{{ url_for('static', filename='main/common/init.min.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='main/common/navigation.min.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='main/common/utils.min.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='main/common/notification.min.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='main/common/gdpr/gdpr.min.js') }}" type="text/javascript"
            charset="utf-8"></script>
{% endif %}

{% block import_js %}{% endblock %}
</body>

</html>