{% extends "partials/layout.html" %}

{% block title %}
    {{ _('Railroad VPN - FAQ') }}
{% endblock %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/faq/faq.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/faq/faq.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='main/faq/faq.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='main/faq/faq.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}

{% endblock %}

{% block body %}
    <section class="pt-75 pb-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="faq-title text-center">
                        <h2 data-animate="fadeInUp" data-delay=".1" class="animated fadeInUp"
                            style="animation-duration: 0.6s; animation-delay: 0.1s;">
                            Have Any Questions In Your Mind?
                        </h2>
                        <p data-animate="fadeInUp" data-delay=".2" class="animated fadeInUp"
                           style="animation-duration: 0.6s; animation-delay: 0.2s;">
                            Sed ut perspiciatis unde omnis iste
                            natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                            quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                            enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                            magni dolores eos qui ratione voluptatem sequi nesciunt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="pt-4 pb-4">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="single-faq-wrap">
                            <h2 data-animate="fadeInUp" data-delay=".1" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.1s;">
                                General Questions &amp; Answers</h2>
                            <h4 data-animate="fadeInUp" data-delay=".2" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.2s;">
                                <i class="fa fa-question-circle"></i>How do I setup RailroadVPN?
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".3" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.3s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.
                            </p>
                            <h4 data-animate="fadeInUp" data-delay=".4" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.4s;">
                                <i class="fa fa-question-circle"></i>What's the difference between a Proxy and VPN
                                Service?
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".5" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.5s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.
                            </p>
                            <h4 data-animate="fadeInUp" data-delay=".6" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.6s;">
                                <i class="fa fa-question-circle"></i>Can I use your VPN instead of my current ISP
                                connection?
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".7" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.7s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-faq-wrap">
                            <h2 data-animate="fadeInUp" data-delay=".1" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.1s;">
                                General Questions &amp; Answers
                            </h2>
                            <h4 data-animate="fadeInUp" data-delay=".2" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.2s;">
                                <i class="fa fa-question-circle"></i>How do I setup RailroadVPN?
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".3" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.3s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.
                            </p>
                            <h4 data-animate="fadeInUp" data-delay=".4" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.4s;">
                                <i class="fa fa-question-circle"></i>What's the difference between a Proxy and VPN
                                Service?
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".5" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.5s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.
                            </p>
                            <h4 data-animate="fadeInUp" data-delay=".6" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.6s;">
                                <i class="fa fa-question-circle"></i>Can I use your VPN instead of my current ISP
                                connection?
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".7" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.7s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-faq-wrap">
                            <h2 data-animate="fadeInUp" data-delay=".1" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.1s;">
                                Account related Questions &amp; Answers
                            </h2>
                            <h4 data-animate="fadeInUp" data-delay=".2" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.2s;">
                                <i class="fa fa-question-circle"></i>Can I get trial account prior to purchase?
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".3" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.3s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.
                            </p>
                            <h4 data-animate="fadeInUp" data-delay=".4" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.4s;">
                                <i class="fa fa-question-circle"></i>How many concurrent connections do you allow?
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".5" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.5s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.
                            </p>
                            <h4 data-animate="fadeInUp" data-delay=".6" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.6s;">
                                <i class="fa fa-question-circle"></i>How can I test VPN servers’ connectivity for my
                                current location?
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".7" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.7s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-faq-wrap mt-5 mt-md-0">
                            <h2 data-animate="fadeInUp" data-delay=".1" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.1s;">
                                Technical Guideline/How to Use
                            </h2>
                            <h4 data-animate="fadeInUp" data-delay=".2" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.2s;">
                                <i class="fa fa-question-circle"></i>I can connect, but cannot browse.
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".3" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.3s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.
                            </p>
                            <h4 data-animate="fadeInUp" data-delay=".4" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.4s;">
                                <i class="fa fa-question-circle"></i>Does this site or device work with RailroadVPN?
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".5" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.5s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.
                            </p>
                            <h4 data-animate="fadeInUp" data-delay=".6" class="animated fadeInUp"
                                style="animation-duration: 0.6s; animation-delay: 0.6s;">
                                <i class="fa fa-question-circle"></i>What ports should be open on firewall/router for it
                                to work?
                            </h4>
                            <p data-animate="fadeInUp" data-delay=".7" class="animated fadeInUp"
                               style="animation-duration: 0.6s; animation-delay: 0.7s;">
                                At vero eos et accusamus et
                                iusto odio dignissimos ducimus ui blanditiis praesentium voluptatum deleniti atque
                                corrupti quos dolores et quas molestias excepturi sint occaecati piditate non ilique
                                sunt in culpa qui officia deserunt illitia test laborum et dolorum fuga.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}