{% extends 'partials/layout.html' %}

{% block import_css %}
    {% if 'debug' in session %}
        <link href="{{ url_for('static', filename='main/index/index.css') }}" type="text/css" rel="stylesheet"/>
    {% else %}
        <link href="{{ url_for('static', filename='main/index/index.min.css') }}" type="text/css" rel="stylesheet"/>
    {% endif %}
{% endblock %}

{% block import_js %}
    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='main/index/index.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='main/index/index.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block nav_menu %}
    {{ super() }}
{% endblock %}

{% block body %}
    <!-- Intro Header -->
    <section id="header">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h1 class="brand-heading">{{ _('VPN Service') }}</h1>
                        <p class="intro-text">{{ _('Get access to internet anonymously and without any restricts!') }}</p>
                        <button id="intro-btn" class="btn btn-outline-secondary">{{ _('BUILD YOUR OWN RAILROAD!') }}</button>
                    </div>
                    <div class="col-lg-8">
                        <img class="intro-image img-fluid"
                             src="{{ url_for('static', filename='main/index/images/devices.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features">
        <div class="container">
            <h2 class="text-center text-dark" style="margin-bottom: 100px;">{{ _('WHAT FEATURES YOU WILL GET?') }}</h2>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-fluid mx-auto d-block feature-image"
                         src="{{ url_for('static', filename='main/index/images/features/mascot_geo.png') }}">
                    <div class="wrap feature">
                        <h4>{{ _('Unlock geo-restricted media') }}</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid mx-auto d-block feature-image"
                         src="{{ url_for('static', filename='main/index/images/features/mascot_anonym.png') }}">
                    <div class="wrap feature">
                        <h4>{{ _('Anonymous access to internet') }}</h4>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid mx-auto d-block feature-image"
                         src="{{ url_for('static', filename='main/index/images/features/mascot_network.png') }}">
                    <div class="wrap feature">
                        <h4>{{ _('Build your own vpn network') }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Pricing Section -->
    <section id="pricing" class="content-section">
        <div class="container content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing hover-effect">
                        <div class="pricing-head">
                            <h3>Begginer
                                <span> Officia deserunt mollitia </span>
                            </h3>
                            <h4><i>$</i>5<i>.49</i>
                                <span> Per Month </span>
                            </h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li>At vero eos</li>
                            <li>No Support</li>
                            <li>Fusce condimentum</li>
                            <li>Ut non libero</li>
                            <li>Consecte adiping elit</li>
                        </ul>
                        <div class="pricing-footer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                            </p>
                            <a href="javascript:;" class="btn yellow-crusta">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing hover-effect">
                        <div class="pricing-head">
                            <h3>Pro
                                <span>Officia deserunt mollitia</span>
                            </h3>
                            <h4><i>$</i>8<i>.69</i>
                                <span>Per Month </span>
                            </h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li>
                                At vero eos
                            </li>
                            <li>
                                No Support
                            </li>
                            <li>
                                Fusce condimentum
                            </li>
                            <li>
                                Ut non libero
                            </li>
                            <li>
                                Consecte adiping elit
                            </li>
                        </ul>
                        <div class="pricing-footer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                            </p>
                            <a href="javascript:;" class="btn yellow-crusta">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing pricing-active hover-effect">
                        <div class="pricing-head pricing-head-active">
                            <h3>Expert
                                <span> Officia deserunt mollitia </span>
                            </h3>
                            <h4><i>$</i>13<i>.99</i>
                                <span>Per Month </span>
                            </h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li>
                                At vero eos
                            </li>
                            <li>
                                No Support
                            </li>
                            <li>
                                Fusce condimentum
                            </li>
                            <li>
                                Ut non libero
                            </li>
                            <li>
                                Consecte adiping elit
                            </li>
                        </ul>
                        <div class="pricing-footer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                            </p>
                            <a href="javascript:;" class="btn yellow-crusta">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="pricing hover-effect">
                        <div class="pricing-head">
                            <h3>Hi-Tech
                                <span>Officia deserunt mollitia </span>
                            </h3>
                            <h4><i>$</i>99<i>.00</i>
                                <span>Per Month </span>
                            </h4>
                        </div>
                        <ul class="pricing-content list-unstyled">
                            <li>
                                At vero eos
                            </li>
                            <li>
                                No Support
                            </li>
                            <li>
                                Fusce condimentum
                            </li>
                            <li>
                                Ut non libero
                            </li>
                            <li>
                                Consecte adiping elit
                            </li>
                        </ul>
                        <div class="pricing-footer">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                            </p>
                            <a href="javascript:;" class="btn yellow-crusta">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>{{ _('Download') }}</h2>
                <p>{{ _('You can download for free on the preview page.') }}</p>
                <a href="#" class="btn btn-default btn-lg">{{ _('Visit Download Page') }}</a>
            </div>
        </div>
    </section>

{% endblock %}