{% extends 'partials/layout.html' %}

{% block import_css %}
    {% if 'debug' in session %}
        <link href="{{ url_for('static', filename='main/index/index.css') }}" type="text/css" rel="stylesheet"/>
    {% else %}
        <link href="{{ url_for('static', filename='main/index/index.min.css') }}" type="text/css" rel="stylesheet"/>
    {% endif %}
{% endblock %}

{% block import_js %}
    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='main/index/index.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='main/index/index.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block nav_menu %}
    {{ super() }}
{% endblock %}

{% block body %}
    <!-- Intro Header -->
    <section id="header">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h1 class="brand-heading">{{ _('VPN Service') }}</h1>
                        <p class="intro-text">{{ _('Get access to internet anonymously and without any restricts!') }}</p>
                        <button id="intro-btn"
                                class="btn btn-outline-secondary">{{ _('BUILD YOUR OWN RAILROAD!') }}</button>
                    </div>
                    <div class="col-lg-8">
                        <img class="intro-image img-fluid"
                             src="{{ url_for('static', filename='main/index/images/devices.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features">
        <div class="container">
            <h2 class="text-center text-dark" style="margin-bottom: 100px;">{{ _('WHY USE VPN?') }}</h2>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-fluid mx-auto d-block feature-image"
                         src="{{ url_for('static', filename='main/index/images/features/mascot_geo.png') }}">
                    <div class="wrap feature">
                        <h4>{{ _('SECURITY') }}</h4>
                        <p>
                            {{ _('Protect your access to Internet') }}
                        </p>
                        <p>
                            <a href="{{ url_for('index.features_page') }}">
                                {{ _('Learn more') }}
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid mx-auto d-block feature-image"
                         src="{{ url_for('static', filename='main/index/images/features/mascot_anonym.png') }}">
                    <div class="wrap feature">
                        <h4>{{ _('PRIVACY') }}</h4>
                        <p>
                            {{ _('Be anonymous when you need this') }}
                        </p>
                        <p>
                            <a href="{{ url_for('index.features_page') }}">
                                {{ _('Learn more') }}
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid mx-auto d-block feature-image"
                         src="{{ url_for('static', filename='main/index/images/features/mascot_network.png') }}">
                    <div class="wrap feature">
                        <h4>{{ _('DISENGAGEMENT') }}</h4>
                        <p>
                            {{ _('Create your own network over Internet') }}
                        </p>
                        <p>
                            <a href="{{ url_for('index.features_page') }}">
                                {{ _('Learn more') }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Pricing Section -->
    <section id="pricing" class="content-section">
        <div class="container content">
            <h2 class="text-center text-dark" style="margin-bottom: 100px;">{{ _('CHOOSE YOUR PACK') }}</h2>
            {% with order=false %}
                {% include 'partials/pricing-packs.html' %}
            {% endwith %}
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>{{ _('Download') }}</h2>
                <p>{{ _('You can download for free on the preview page.') }}</p>
                <a href="#" class="btn btn-link">{{ _('Visit Download Page') }}</a>
            </div>
        </div>
    </section>

{% endblock %}