{% extends 'partials/layout.html' %}

{% block import_css %}
    {% if 'debug' in session %}
        <link href="{{ url_for('static', filename='main/index/index.css') }}" type="text/css" rel="stylesheet"/>
    {% else %}
        <link href="{{ url_for('static', filename='main/index/index.min.css') }}" type="text/css" rel="stylesheet"/>
    {% endif %}
{% endblock %}

{% block import_js %}
    {% if 'debug' in session %}
        <!-- particlesjs -->
        <script src="{{ url_for('static', filename='assets/particles/particles.js') }}" type="text/javascript"
                charset="utf-8"></script>

        <script src="{{ url_for('static', filename='main/index/index.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <!-- particlesjs -->
        <script src="{{ url_for('static', filename='assets/particles/particles.min.js') }}" type="text/javascript"
                charset="utf-8"></script>

        <script src="{{ url_for('static', filename='main/index/index.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block nav_menu %}
    {{ super() }}
{% endblock %}

{% block meta %}
    <meta id="subscribe_success_message" data-text="{{ _('Thank you! We send you email with all information!') }}">
{% endblock %}

{% block body %}
    <!-- Intro Header -->
    <section id="header">
        <div class="intro-body">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-lg-8">
                        <h1 class="brand-heading">{{ _('Railroad VPN') }} <sup
                                class="text-lowercase">{{ _('the best way to get any content with the fastest speed') }}</sup>
                        </h1>
                        <p class="intro-text">{{ _('We under construction and will release first version soon. Be in touch and subscribe for news by email.') }}</p>
                        <a href="{{ url_for('about.about_page') }}" class="btn btn-link">{{ _('Learn More!') }}</a>
                        <a id="intro-subscribe" href="#subscription" class="btn btn-primary js-scroll-trigger">
                            {{ _('Click Here To Get FREE Trial!') }}
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <img class="intro-image pull-right"
                             src="{{ url_for('static', filename='main/index/images/devices_coming_soon.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Subscription Section -->
    <section id="subscription" class="download-section pb-75 pt-75 text-center">
        <div class="container shadow-text">
            <div class="col-lg-12 mx-auto">
                <h2>{{ _('Subscribe and get free trial') }}</h2>
                <form id="subscribe-form" class="justify-content-center" method="POST"
                      action="{{ url_for('index.subscribe_trial') }}">
                    <div class="form-group mx-sm-3 mb-2 mx-2">
                        <div class="row">
                            <div class="col-lg-10">
                                <label for="inputPassword2" class="sr-only">{{ _('Email') }}</label>
                                <input type="email" class="form-control" required name="email"
                                       placeholder="{{ _('Enter email please') }}">
                            </div>
                            <div class="col-lg-2">
                                <button type="submit" class="btn btn-primary mb-2">{{ _('GET FREE TRIAL') }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="pb-75 pt-75">
        <div style="position:relative;">
            <div id="particles-js"></div>
            <div class="container container-wide">
                <h2 class="text-center text-dark"
                    style="margin-bottom: 100px;">{{ _('WHY Railroad VPN Services?') }}</h2>
                <p class="text-center pb-7" style="font-style: italic; font-weight: 600;">
                    {{ _('We developing VPN-service with the best features and service on market. What we can offer?') }}
                </p>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="img-fluid mx-auto d-block feature-image"
                             src="{{ url_for('static', filename='main/index/images/features/mascot_geo.png') }}">
                        <div class="wrap feature">
                            <h4>{{ _('SECURITY') }}</h4>
                            <p>
                                {{ _('Protect your access to Internet') }}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img class="img-fluid mx-auto d-block feature-image"
                             src="{{ url_for('static', filename='main/index/images/features/mascot_anonym.png') }}">
                        <div class="wrap feature">
                            <h4>{{ _('PRIVACY') }}</h4>
                            <p>
                                {{ _('Be anonymous when you need this') }}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img class="img-fluid mx-auto d-block feature-image"
                             src="{{ url_for('static', filename='main/index/images/features/mascot_network.png') }}">
                        <div class="wrap feature">
                            <h4>{{ _('DISENGAGEMENT') }}</h4>
                            <p>
                                {{ _('Create your own network over Internet') }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="img-fluid mx-auto d-block feature-image"
                             src="{{ url_for('static', filename='main/index/images/features/mascot-vpn-clients.png') }}">
                        <div class="wrap feature">
                            <h4>{{ _('VPN Apps') }}</h4>
                            <p>
                                {{ _('We offer the best VPN app. Simple. Fast. Nice.') }}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img class="img-fluid mx-auto d-block feature-image"
                             src="{{ url_for('static', filename='main/index/images/features/mascot-support.png') }}">
                        <div class="wrap feature">
                            <h4>{{ _('SUPPORT') }}</h4>
                            <p>
                                {{ _('Email, Telegram, Forum - we support you everywhere.') }}
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <img class="img-fluid mx-auto d-block feature-image"
                             src="{{ url_for('static', filename='main/index/images/features/mascot-money.png') }}">
                        <div class="wrap feature">
                            <h4>{{ _('EXTRA MONEY') }}</h4>
                            <p>
                                {{ _('Change your traffic for money.') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}