{% extends "partials/layout.html" %}

{% block title %}
    {{ _('Pricing') }}
{% endblock %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/order/order.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/order/order.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='assets/jquery/jquery.backstretch.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/order/order.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='assets/jquery/jquery.backstretch.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/order/order.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}
    <meta id="email_check_url" data-method="GET" data-url="{{ url_for('auth.is_email_busy') }}">
    <meta id="get_payment_url_url" data-method="GET" data-url="{{ url_for('order.payment_url') }}">
    <meta id="signup_user_url" data-method="POST" data-url="{{ url_for('auth.signup') }}">
{% endblock %}

{% block body %}
    <div id="order-form-container" class="container content-section" style="padding-top: 50px;">
        <div class="row text-center justify-content-center">
            <div class="form-box">
                <form class="order-form" role="form" action="{{ url_for('auth.signup') }}" method="POST">
                    <h3>{{ _('Order') }}
                        <small>#</small>
                        <small id="order_code">{{ session['order']['code'] }}</small>
                    </h3>
                    <p>{{ _('Build your own railroad in 3 easy steps') }}</p>
                    <div class="order-steps">
                        <div class="order-progress">
                            <div id="progress-bar" class="order-progress-line" data-now-value="16.66"
                                 data-number-of-steps="3"
                                 style="width: 16.66%;"></div>
                        </div>
                        <div id="pack-step" class="order-progress-step active" data-id="pack">
                            <div class="order-progress-step-icon"><i class="fa fa-cube"></i></div>
                            <p>{{ _('pack') }}</p>
                        </div>
                        <div id="account-step" class="order-progress-step" data-id="account">
                            <div class="order-progress-step-icon"><i class="fa fa-user"></i></div>
                            <p>{{ _('account') }}</p>
                        </div>
                        <div id="payment-step" class="order-progress-step" data-id="payment">
                            <div class="order-progress-step-icon"><i class="fa fa-credit-card"></i></div>
                            <p>{{ _('payment') }}</p>
                        </div>
                    </div>

                    <fieldset id="pack-fieldset" data-id="pack">
                        <input id="subscription-id" type="hidden" value="{{ pack_id }}"
                               data-subscription="">
                        <h2 class="text-center text-dark" style="margin-bottom: 100px;">{{ _('CHOOSE YOUR PACK') }}</h2>
                        {% with order=true %}
                            {% include 'partials/pricing-packs.html' %}
                        {% endwith %}
                    </fieldset>

                    <fieldset id="account-fieldset" class="container" data-id="account">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="chosen-subscription card text-center" style="width: 18rem;">
                                    <h5 class="card-header">
                                        {{ chosen_subscription['name'] }}
                                        <p class="card-text"
                                           style="font-size: 50%;">{{ chosen_subscription['description'] }}</p>
                                    </h5>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ _('What will you get?') }}</h5>
                                        <ul class="subscription-features list-group list-group-flush list-unstyled text-left">
                                            {% for feature in chosen_subscription['features'] %}
                                                <li {% if not feature['enabled'] %} class="no-feature" {% endif %} >
                                                    <span
                                                            {% if feature['tooltip'] is not none and feature['enabled'] == true %}
                                                                class="sub-feature-tooltip"
                                                                data-toggle="tooltip"
                                                                data-placement="top"
                                                                title="{{ feature['tooltip'] }}"
                                                            {% endif %}
                                                    >
                                                        {{ feature['name'] }}
                                                    </span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        {% if chosen_subscription['is_best'] == true %}
                                            <div class="blockquote-footer pull-right">
                                                <small class="text-muted">
                                                    <cite>{{ _('Best plan!') }}</cite>
                                                </small>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer bg-transparent border-warning">
                                        <button id="change_plan-btn" type="button"
                                                class="btn btn-previous">{{ _('Change Plan') }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xl-4 col-xs-12 justify-content-center text-center">
                                <h2 class="text-center text-dark"
                                    style="margin-bottom: 100px;">{{ _('CREATE ACCOUNT') }}</h2>
                                <div class="form-group">
                                    <label class="sr-only" for="email">{{ _('Email') }}</label>
                                    <input id="email-input" type="text" name="email" placeholder="{{ _('Email') }}..."
                                           autocomplete="email" class="order-form-email form-control">
                                    <div class="col-12 error small empty_error">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ _('Enter email please') }}
                                    </div>
                                    <div class="col-12 error small busy_error">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ _('Entered email is busy') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="password">{{ _('Password') }}</label>
                                    <input id="password-input" type="password" name="password"
                                           placeholder="{{ _('Password') }}..."
                                           autocomplete="new-password" class="order-form-password form-control">
                                    <div class="col-12 error small empty_error">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ _('Enter password please') }}
                                    </div>
                                    <div class="col-12 error small short_error">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ _('Entered password too short. Minimum length 6 chars') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="repeat-password">{{ _('Verify password') }}</label>
                                    <input id="repeat-password-input" type="password" name="password_repeat"
                                           placeholder="{{ _('Verify password') }}..." autocomplete="new-password"
                                           class="order-form-repeat-password form-control">
                                    <div class="col-12 error small empty_error">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ _('Enter password again to verify it') }}
                                    </div>
                                    <div class="col-12 error small match_error">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ _('Entered passwords does not match') }}
                                    </div>
                                </div>
                                <div class="form-group order-form-buttons text-center">
                                    <button type="button" class="btn btn-previous">{{ _('Previous') }}</button>
                                    <button type="button" class="btn btn-next">{{ _('Next') }}</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset id="payment-fieldset" class="container" data-id="payment">
                        <input id="payment_method" type="hidden">
                        <div class="row">
                            <div class="col-lg-12 justify-content-center text-center">
                                <div id="payment_methods-container" class="row">
                                    <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 px-0 p-4">
                                        <div class="payment-method" data-id="1">
                                            <img src="{{ url_for('static', filename='main/order/images/cc.png') }}"
                                                 class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 col-md-6 col-sm-12 px-0 p-4">
                                        <div class="payment-method" data-id="14">
                                            <img src="{{ url_for('static', filename='main/order/images/paypal.png') }}"
                                                 class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div id="show_more_payment_methods-text" class="text-center">
                                    <h5>
                                        <button type="button" data-toggle="modal" data-target="#payment_methods-modal"
                                                class="btn btn-link">{{ _('Show more ways to pay') }}</button>
                                    </h5>
                                </div>
                                <div class="order-form-buttons">
                                    <button type="button" class="btn btn-previous">{{ _('Previous') }}</button>
                                    <button type="submit" class="btn btn-next">
                                        {{ _('Proceed to payment page') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>

    <div id="payment_methods-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ _('Choose your favorite payment method') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 px-0 p-4">
                            <div class="payment-method additional" data-id="36">
                                <img src="{{ url_for('static', filename='main/order/images/other/qiwi.png') }}"
                                     class="img-fluid">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 px-0 p-4">
                            <div class="payment-method additional" data-id="70">
                                <img src="{{ url_for('static', filename='main/order/images/other/mybank.png') }}"
                                     class="img-fluid">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 px-0 p-4">
                            <div class="payment-method additional" data-id="70">
                                <img src="{{ url_for('static', filename='main/order/images/other/yandex_money.png') }}"
                                     class="img-fluid">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 px-0 p-4">
                            <div class="payment-method additional" data-id="7">
                                <img src="{{ url_for('static', filename='main/order/images/other/jcb.png') }}"
                                     class="img-fluid">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 px-0 p-4">
                            <div class="payment-method additional" data-id="34">
                                <img src="{{ url_for('static', filename='main/order/images/other/alipay.png') }}"
                                     class="img-fluid">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 px-0 p-4">
                            <div class="payment-method additional" data-id="16">
                                <img src="{{ url_for('static', filename='main/order/images/other/ideal.png') }}"
                                     class="img-fluid">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 px-0 p-4">
                            <div class="payment-method additional" data-id="69">
                                <img src="{{ url_for('static', filename='main/order/images/other/dragonpay.png') }}"
                                     class="img-fluid">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 px-0 p-4">
                            <div class="payment-method additional" data-id="69">
                                <img src="{{ url_for('static', filename='main/order/images/other/cashu.png') }}"
                                     class="img-fluid">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 px-0 p-4">
                            <div class="payment-method additional text" data-id="0">
                                <h5>{{ _('Other...') }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}