{% extends "partials/layout.html" %}

{% block title %}
    {{ _('Pricing') }}
{% endblock %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/order/order.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/order/order.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='assets/jquery/jquery.backstretch.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/order/order.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='assets/jquery/jquery.backstretch.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/order/order.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}
    <meta id="email_check_url" data-url="{{ url_for('auth.is_email_busy') }}">
{% endblock %}

{% block body %}
    <div id="order-form-container" class="container content-section" style="padding-top: 50px;">
        <div class="row text-center justify-content-center">
            <div class="form-box">
                <form class="order-form" role="form" action="{{ url_for('order.order') }}" method="POST">
                    <h3>{{ _('Order') }}
                        <small>#123</small>
                    </h3>
                    <p>{{ _('Build your own railroad in 3 easy steps') }}</p>
                    <div class="order-steps">
                        <div class="order-progress">
                            <div id="progress-bar" class="order-progress-line" data-now-value="16.66"
                                 data-number-of-steps="3"
                                 style="width: 16.66%;"></div>
                        </div>
                        <div id="pack-step" class="order-progress-step active" data-id="pack">
                            <div class="order-progress-step-icon"><i class="fa fa-cube"></i></div>
                            <p>{{ _('pack') }}</p>
                        </div>
                        <div id="account-step" class="order-progress-step " data-id="account">
                            <div class="order-progress-step-icon"><i class="fa fa-user"></i></div>
                            <p>{{ _('account') }}</p>
                        </div>
                        <div id="payment-step" class="order-progress-step " data-id="payment">
                            <div class="order-progress-step-icon"><i class="fa fa-credit-card"></i></div>
                            <p>{{ _('payment') }}</p>
                        </div>
                    </div>

                    <fieldset id="pack-fieldset" data-id="pack">
                        <input id="subscription-id" type="hidden" name="pack" value="{{ pack }}">
                        <h2 class="text-center text-dark" style="margin-bottom: 100px;">{{ _('CHOOSE YOUR PACK') }}</h2>
                        {% with order=true %}
                            {% include 'partials/pricing-packs.html' %}
                        {% endwith %}
                    </fieldset>

                    <fieldset id="account-fieldset" class="container" data-id="account">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xl-4 col-xs-12 justify-content-center offset-lg-4 offset-lx-4 text-center">
                            <h2 class="text-center text-dark"
                                style="margin-bottom: 100px;">{{ _('CREATE ACCOUNT') }}</h2>
                            <div class="form-group">
                                <label class="sr-only" for="email">{{ _('Email') }}</label>
                                <input id="email-input" type="text" name="email" placeholder="{{ _('Email') }}..."
                                       autocomplete="email"
                                       class="order-form-email form-control">
                                <div class="col-12 error small empty_error">
                                    <i class="fa fa-exclamation-triangle"></i> {{ _('Enter email please') }}
                                </div>
                                <div class="col-12 error small busy_error">
                                    <i class="fa fa-exclamation-triangle"></i> {{ _('Entered email is busy') }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">{{ _('Password') }}</label>
                                <input id="password-input" type="password" name="password"
                                       placeholder="{{ _('Password') }}..."
                                       autocomplete="new-password"
                                       class="order-form-password form-control">
                                <div class="col-12 error small empty_error">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ _('Enter password please') }}</div>
                                <div class="col-12 error small short_error">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ _('Entered password too short. Minimum length 6 chars') }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="repeat-password">{{ _('Verify password') }}</label>
                                <input id="repeat-password-input" type="password" name="repeat-password"
                                       placeholder="{{ _('Verify password') }}..."
                                       autocomplete="new-password"
                                       class="order-form-repeat-password form-control">
                                <div class="col-12 error small empty_error">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ _('Enter password again to verify it') }}
                                </div>
                                <div class="col-12 error small match_error">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {{ _('Entered passwords does not match') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group order-form-buttons text-center">
                            <button type="button" class="btn btn-previous">{{ _('Previous') }}</button>
                            <button type="button" class="btn btn-next">{{ _('Next') }}</button>
                        </div>
                    </fieldset>

                    <fieldset id="payment-fieldset" data-id="payment">
                        <div class="row">
                            <div class="col-12"></div>
                        </div>
                        <div class="form-group order-form-buttons text-center">
                            <button type="button" class="btn btn-previous">{{ _('Previous') }}</button>
                            <button type="button" class="btn btn-next">{{ _('Next') }}</button>
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
{% endblock %}