{% extends "partials/layout.html" %}

{% block title %}
    {{ _('Pricing') }}
{% endblock %}

{% block import_css %}
    {% if 'debug' in session %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/order/order.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main/order/order.min.css') }}">
    {% endif %}
{% endblock %}

{% block import_js %}

    {% if 'debug' in session %}
        <script src="{{ url_for('static', filename='assets/jquery/jquery.backstretch.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/order/order.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% else %}
        <script src="{{ url_for('static', filename='assets/jquery/jquery.backstretch.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
        <script src="{{ url_for('static', filename='main/order/order.min.js') }}" type="text/javascript"
                charset="utf-8"></script>
    {% endif %}
{% endblock %}

{% block meta %}

{% endblock %}

{% block body %}
    <div id="order-form-container" class="container content-section" style="padding-top: 50px;">
        <div class="row text-center justify-content-center">
            <div class="form-box">
                <form role="form" action="" method="POST" class="f1">
                    <h3>{{ _('Sign Up') }}</h3>
                    <p>{{ _('Build your own railroad in 3 easy steps') }}</p>
                    <div class="f1-steps">
                        <div class="f1-progress">
                            <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3"
                                 style="width: 16.66%;"></div>
                        </div>
                        <div id="pack" class="f1-step active">
                            <div class="f1-step-icon"><i class="fa fa-cube"></i></div>
                            <p>{{ _('pack') }}</p>
                        </div>
                        <div id="account" class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                            <p>{{ _('account') }}</p>
                        </div>
                        <div id="payment" class="f1-step">
                            <div class="f1-step-icon"><i class="fa fa-credit-card"></i></div>
                            <p>{{ _('payment') }}</p>
                        </div>
                    </div>

                    <fieldset id="pricing">
                        <input id="pack_id" type="hidden" name="pack" value="{{ pack }}">
                        <h2 class="text-center text-dark" style="margin-bottom: 100px;">{{ _('CHOOSE YOUR PACK') }}</h2>
                        {% with order=true %}
                            {% include 'partials/pricing-packs.html' %}
                        {% endwith %}
                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label class="sr-only" for="f1-email">Email</label>
                                <input type="text" name="f1-email" placeholder="Email..." class="f1-email form-control"
                                       id="f1-email">
                            </div>
                            <div class="col-12 form-group">
                                <label class="sr-only" for="f1-password">Password</label>
                                <input type="password" name="f1-password" placeholder="Password..."
                                       class="f1-password form-control" id="f1-password">
                            </div>
                            <div class="col-12 form-group">
                                <label class="sr-only" for="f1-repeat-password">Verify password</label>
                                <input type="password" name="f1-repeat-password" placeholder="Verify password..."
                                       class="f1-repeat-password form-control" id="f1-repeat-password">
                            </div>
                            <div class="col-12 f1-buttons">
                                <button type="button" class="btn btn-previous">Previous</button>
                                <button type="button" class="btn btn-next">Next</button>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <div class="col-12"></div>
                        </div>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
{% endblock %}