.queries-wrap .single-query {
    padding: 26px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    height: calc(100% - 30px);
    -webkit-transition: all .2s;
    transition: all .2s;
}

.queries-wrap h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-transform: inherit;
}

.queries-wrap span {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #717271;
}

.queries-wrap .single-query .query-icon {
    padding-left: 0;
}

.queries-wrap .query-info a {
    font-size: small;
}

.single-query:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.section-title {
    padding-bottom: 50px;
}

.section-title h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.section-title p {
    color: rgb(145, 148, 145);
    font-size: 14px;
    font-weight: 400;
}

.contact-form-wrap {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 30px;
}

.contact-form-wrap h2 {
    font-size: 1.875rem;
    font-weight: bold;
    color: #262e26;
}

.contact-form-wrap p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #717271;
}

.contact-form-wrap p {
    padding-bottom: 0.5rem;
}

p:last-child {
    margin-bottom: 0;
}

textarea#message-ta {
    height: 17.5rem;
}